    <div class="wrapper">
        <div class="container">
            <input type="checkbox" id="hidden-btn" #hiddenBtn>
            <div class="signup">
                <div class="logo-box">
                    <img src="assets/cow-milk-login.png" alt="logo" height="60px" width="60px">
                    <label for="hidden-btn">Sign up</label>
                </div>
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="User name" [(ngModel)]="loginModel.userName">
                <input type="email" placeholder="email" name="email" [(ngModel)]="loginModel.email">
                <input type="password" placeholder="password" [(ngModel)]="loginModel.password">
                <button (click)="createAccount()">Sign up</button>
                <p class="already-account">Already have an account? click below</p>
            </div>

            <div class="login" >
                <label for="hidden-btn">Login</label>
                <input type="email" placeholder="email" [(ngModel)]="loginModel.email">
                <input type="password" placeholder="password" [(ngModel)]="loginModel.password">
                <button type="button" (click)="login()">Login</button>
            </div>
        </div>
    </div>